

.tbl-custom thead {
  background-color: #9370DB;
  color: white;
  padding: 10px;
  border: 1px solid #9370DB;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: 10px;
}

.tbl-custom tbody tr:hover {
  background-color: #d2c7e9;
  color: white;
}
