table.tbl-custom thead {
  background-color: #86ADDF;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #86ADDF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: 10px;
}

table.tbl-custom tbody tr:hover {
  background-color: #c7d6e9;
  color: white;
}
