/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

/* Tabs */
.tab-content {
  padding: 20px;
  border: 1px solid #DEE2E6;
  border-top-color: rgb(222, 226, 230);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 0 !important;
  background: var(--white);
}

.nav-tabs.disabled .nav-link {
  cursor: not-allowed !important;
  pointer-events: none;
}

.nav-tabs .nav-link {
  color: var(--blue-80);
}
/* Tabs FIM */
