/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

body {
  background: #2850ad;
}

/* Tabs */
.tab-content {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top-color: rgb(222, 226, 230);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 0 !important;
  background: var(--white);
}

.nav-tabs.disabled .nav-link {
  cursor: not-allowed !important;
  pointer-events: none;
}

.nav-tabs .nav-link {
  color: var(--blue-80);
}
/* Tabs FIM */

.color-main {
  color: #3a72b9;
}

@media screen and (max-width: 1000px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table td {
    display: block;
    font-size: 0.9em;
    text-align: right !important;
    border-top: 0 !important;
    border: none;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.max-height {
  min-height: 100vh;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f8f9fa !important;
  color: #212529;
}
