<div *ngIf="!isForm">
  <div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-success" (click)="onAdd()">
      <!-- <i-bs name="plus" width="22" height="22"></i-bs> -->
      Novo e-mail
    </button>
  </div>
  <div class="mt-3">
    <table
      class="table table-striped table-hover tbl-custom"
      *ngIf="emailContacts"
    >
      <thead class="rounded">
        <tr>
          <th scope="col">#</th>
          <th scope="col">E-mail</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="emailContacts.length === 0">
          <td colspan="3" class="text-center">Nenhum registro encontrado</td>
        </tr>
        <tr *ngFor="let email of emailContacts; let i = index">
          <td data-label="#">{{ i + 1 }}</td>
          <td data-label="E-mail">{{ email.emailAddress }}</td>
          <td class="d-flex justify-content-end">
            <div class="btn-group" dropdown placement="bottom right">
              <button
                id="button-basic"
                dropdownToggle
                type="button"
                class="btn btn-sm btn-secondary dropdown-toggle"
                aria-controls="dropdown-basic"
                title="Menu"
              >
                <i-bs name="list" width="22" height="22"></i-bs>
                <span class="caret"></span>
              </button>
              <ul
                id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-basic"
              >
                <li role="menuitem">
                  <button
                    type="button"
                    class="dropdown-item"
                    (click)="onEdit(email)"
                  >
                    <i-bs name="pencil" width="18" height="18"></i-bs>
                    Alterar e-mail
                  </button>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <button
                    type="button"
                    class="dropdown-item text-danger"
                    (click)="onDelete(email)"
                  >
                    <i-bs name="trash" width="18" height="18"></i-bs>
                    Excluir e-mail
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center" *ngIf="isForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-md-6 form-group mb-1">
        <label>E-mail</label>
        <input
          type="text"
          class="form-control form-control-sm text-lowercase"
          formControlName="emailAddress"
          [ngClass]="applyCssError('emailAddress')"
        />
        <div class="invalid-feedback" *ngIf="hasError('emailAddress')">
          E-mail é obrigatório.
        </div>
        <div class="invalid-feedback" *ngIf="hasError('emailAddress', 'email')">
          E-mail inválido.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="hasError('emailAddress', 'maxlength')"
        >
          E-mail deve ter no máximo 100 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-success">Salvar</button>
      &nbsp;
      <a class="btn btn-secondary" (click)="onCancel()"> Cancelar </a>
    </div>
  </form>
</div>
